{% extends 'main.html' %}

{% block body %}

<div class="container text-center">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Tecnológico Nacional de Méxcico Campus Colima</h4>
          <h5 class="card-subtitle text-muted">Ingeniería en Sistemas Computacionales</h5>
          <img class="my-3" src="https://www.itcolima.edu.mx/assets/img/itcolima.svg" alt="Logo Tec de Colima" height="100px" width="100px">
          <h6>Lenguaje de Programación Python</h6>
          <h6>Docente: Reyes Benavides Delgado</h6>
          <h6 class="font-weight-bold">Proyecto de Unidad 4 "Graficación"</h6>
        </div>
      </div>


    <div class="row my-3">
        <div class="col"><h3>Integrantes</h3></div>
    </div>

    <div class="row justify-content-center">  
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://avataaars.io/?avatarStyle=Transparent&topType=LongHairBob&accessoriesType=Prescription02&hairColor=BrownDark&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Blue01&eyeType=Wink&eyebrowType=UpDownNatural&mouthType=Twinkle&skinColor=Pale" alt="Ale"
                width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"/>
                <h5 class="mb-2">Alejandra Centeno Alcaraz</h5><span class="small text-uppercase text-muted">17460100</span>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Brown" alt="Andres"
                width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                <h5 class="mb-2">José Andrés Ceballos Vadillo</h5><span class="small text-uppercase text-muted">17460386</span>
            </div>
        </div>
        <!-- End-->
    </div>
</div>


{% endblock %}